<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/svg" href="{{ '/images/logo/favicon.svg' | relative_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  {% seo %}
</head>
<body class='page {{page.bodyClass}}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ "/assets/js/scripts.js" | relative_url }}""></script>
  {% include google-analytics.html %}
</body>
</html>
